<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니</title>
  </head>
  <body>
    <form action="/" method="post">
        <% for(var i = 0; i < arr.length; i++) {%>
            <p> 
                <h1>
                    <input type="checkbox" value="<%= arr[i] %>" name="select">
                    장바구니에 담긴 <%= arr[i] %>번 상품
                </h1>
                <h2> <%= data[arr[i]-1].name %></h2>
                <h2>가격 : <%= data[arr[i]-1].price %></h2>
                <h2>브랜드 : <%= data[arr[i]-1].brand %></h2>
                <h2>상품코드 : <%= data[arr[i]-1].num %></h2>
                <h2>타입 : <%= data[arr[i]-1].type %></h2>
            </p>

            <main>
            <div id="list">
            </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="./restFront.js"></script>
            </main>
        <% } %>
        <input type="submit" value="주문하기">
    </form>
  </body>
</html>
