<%- include('includes/head.ejs') %>
  <%- include('includes/navigation.ejs') %>

    <%= loginStatus %>
      <div>
        <% if(locals.approve){ %>
          <div>
            <%= user %>
          </div>
          <% } %>
      </div>

      <div>
        메인페이지 내용 입력
      </div>
      <%- include('includes/end.ejs') %>