<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 엑셀에서 가져온 데이터 출력 -->
    <% for(var i = 0; i < data.length; i++) {%>

    <article>
      <form action="/item/:id" method="post">
        <h1><%= data[i].name %><br /></h1>
        <h2>가격 : <%= data[i].price %></h2>
        <button class="btn" type="submit">상세 페이지로 이동</button>
        <input
          type="hidden"
          name="id"
          value="<%= data[i].index %>"
          id="<%= data[i].index %>"
        />
      </form>

      <form action="/cart" method="post">
        <button class="btn" type="submit">장바구니에 추가</button>
        <input type="hidden" name="productId" value="<%= data[i].index %>" />
      </form>
    </article>
    <% } %>
  </body>
</html>
